ul > li{
    color: white;
}

ul > li > a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.main-text{
    bottom:20%;
    right: 10%;
    width: 40%;
}

.main-text > p{
    text-align: end;
    font-weight: 600;
}

.main-container{
    max-height: calc(100vh - 5rem);
    overflow: hidden;
}

.carousel-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    overflow: hidden;
    margin: 3rem 1rem;
    border: 0.0625rem solid gray;
}

.card-img-container{
    width: 100%;
    overflow: hidden;
}

.card-img-container > img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.card-info{
    display: flex;
    flex-direction: column;
    margin: 0.6125rem;
}

.card-info-top{
    display: flex;
    justify-content: start;
}

.card-info-top > p{
    padding: 0 0.3125em;
    margin: 0.3125rem;
    font-size: 0.75em;
    border-radius: 0.3125rem;
    font-weight: 600;
}

.card-name{
    font-size: 1.25em;
    padding: 0 0 0.3125em 0;
    font-weight: 600;
}

.card-text{
    font-size: 0.75em;
    font-weight: 300;
}

.main-date-right{
    border-left: 0.0625rem solid white;
}

form > div > input, form > textarea{
    border-radius: 0.3125rem;
    outline: none;
    border: 0.0625rem solid gray;
    padding: 0.3125em 0.625em;
}

form > div > input{
    width: 45%;
}

form > textarea{
    resize: none;
    font-size: 1.5em;
}

form > p{
    font-size: 0.75em;
}

footer{
    background-image: linear-gradient(to left, hsla(200, 70%, 26%, 1), hsla(185, 70%, 16%, 1));
    height: 5rem;
}

footer > ul{
    list-style-type: none;
}